:root {
    /* Colors */
    --tan: #FAF8F0;
    --ray-brown: #CAC1B5;
    --light-brown: #BAADA2;
    --border-brown: #B9ADA1;
    --dark-brown: #756E66;
    --yurk-brown: #8C7B68;
    --two: #EDE4DB;
    --four: #ECE1CB;
    --eight: #E9B682;
    --sixteen: #E99B6D;
    --thirty-two: #E78367;
    --sixty-four: #E56846;
    --one-hundred-twenty-eight: #E8D07F;
    --final-yellow: #E7C44E;
}

/* Selecion color */
::selection {
    background: white;
}

/* Main title font */
.font {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Smalle weight of the same font */
.font-medium {
    font-family: proxima-nova,sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Default border selector to check HTML elements */
.border {
    border: 1px solid black;
}

/* The main background for the website */
.background-container {
    background-color: var(--tan);
    height: 825px;
}

/* The interface for all the game content */
.main-interface {
    position: relative;
    top: 30px;
    height: 700px;
    width: 500px;
    margin: auto;
    display: grid;
    row-gap: 20px;
    grid-template: 1.5fr 4fr / 100%;
}

/* This is the text content square in the top left corner */
.text-content {
    display: grid;
    grid-template: 100% / 1fr 1fr;
}

/* The box in the top left corner */
.top-box-one,
.top-box-two {
    display: flex;
}

/* The text inside the top left corner */
.text-box {
    margin: auto;
    width: 100%;
    color: var(--dark-brown);
}

.score-box {
    margin-top: auto;
    margin-left: auto;
    height: 80%;
    width: 80%;
    display: grid;
    row-gap: 50px;
    column-gap: 6px;
    grid-template: 2fr 1.5fr / 2fr 3fr;
}

/* The h2 content inside the top left corner */
.text-box h2 {
    font-size: 80px;
    padding-bottom: 10px;
}

/* The content container that holds the game */
.game-content {
    background-color: var(--border-brown);
    border-radius: 5px;
    padding: 15px;
}

.grid-game {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid-block {
    border-radius: 5px;
    background-color: var(--ray-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.score,
.best {
    background-color: #B9ADA1;
    border-radius: 5px;
    color: var(--two);
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

.number-change {
    font-size: 25px;
    color: white;
}

.new-game {
    grid-column: 2;
    background-color: var(--yurk-brown);
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--tan);
    font-size: 18px;
    cursor: pointer;
}