:root {
    /* Colors */
    --tan: #FAF8F0;
    --ray-brown: #CAC1B5;
    --light-brown: #BAADA2;
    --two: #EDE4DB;
    --four: #ECE1CB;
    --eight: #E9B682;
    --sixteen: #E99B6D;
    --thirty-two: #E78367;
    --sixty-four: #E56846;
    --one-hundred-twenty-eight: #E8D07F;
    --final-yellow: #E7C44E;
}