:root {
    /* Colors */
    --tan: #FAF8F0;
    --ray-brown: #CAC1B5;
    --light-brown: #BAADA2;
    --two: #EDE4DB;
    --four: #ECE1CB;
    --eight: #E9B682;
    --sixteen: #E99B6D;
    --thirty-two: #E78367;
    --sixty-four: #E56846;
    --one-hundred-twenty-eight: #E8D07F;
    --final-yellow: #E7C44E;
}

/* Default border selector to check HTML elements */
.border {
    border: 1px solid black;
}

/* The main background for the website */
.background-container {
    background-color: var(--tan);
    height: 825px;
}

.main-interface {
    height: 700px;
    width: 600px;
    margin: auto;
}